{{extend 'layout.html'}}
<head>
<style type="text/css" media="all">
    #list2 { width:480px; }
    #list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#000;  }
    #list2 ol li { }
    #list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:14px; color:#000; border-left: 1px solid #999; }
    #list2 ol li p em { display:block; }
</style>
</head>

<center>
    <div style="background-color:#99CCFF; border:3px solid; width:50%;">
<h2>
    How It Works
</h2>
<div id="list2">
   <ol>
       <li>
           <p>
               Create a Strava account. This site will pull all of your information directly from Strava. No need to register with us.
           </p>
       </li>
      <li>
          <p>
              Record your athletic activity using one of the many <a href='http://support.strava.com/entries/20927811-Supported-GPS-Devices'>compatible GPS devices</a> as you normally would while using Strava.
          </p>
      </li>
      <li>
          <p>
              Upload your activity from the device to Strava.
          </p>
       </li>
      <li>
          <p>
              Use our website to analyze and compare your data against yourself. View graphs of your performances on rides or segments to better improve yourself.
          </p>
       </li>
   </ol>
</div>

</center>
    </div>
